CONFIG_SPL=y
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_SECOBOARD=y
CONFIG_TARGET_SECO_A62_MX6QDL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=arch/arm/imx-common/spl_sd.cfg,ANDROID_SUPPORT,MX6Q"
CONFIG_DM=y
CONFIG_DM_THERMAL=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_SECTOR=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x8a
CONFIG_EFI_PARTITION=y
CONFIG_CMD_MMC=y
CONFIG_CMD_USB=y
CONFIG_CMD_SF=y
CONFIG_OF_LIBFDT=y
CONFIG_HUSH_PARSER=y
CONFIG_SPL_WATCHDOG_SUPPORT=y
CONFIG_CMD_SECO_CONFIG=n
